.home-container {
  display: flex;
  justify-content: center;
}

.four-by-four-container {
  display: grid;
  width: 500px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.four-by-four-container .square {
  width: 150px;
  height: 150px;
  background-color: black;
  margin: 5px;
  display: flex;
}

.not-selected {
  opacity: 0.2;
  transition: 3s;
}

.selected {
  opacity: 1;
  transition: 1s;
}
