.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(102, 153, 255);
  font-family: "Young Serif";
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 3rem;
  color: rgb(153, 102, 51);
}

.home-container {
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.select-grid {
  border: none;
  border-radius: 5px;
  width: 140px;
  height: 80px;
  background-color: rgb(212, 212, 171);
  color: rgb(153, 102, 51);
  font-family: "Young Serif";
  font-size: 1.3rem;
  position: relative;
}

.select-grid:hover {
  box-shadow: 5px 5px 20px rgb(55, 53, 65);
}

.lower-strip {
  margin: 33px 0;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 204);
  align-items: center;
  font-size: 1.3rem;
  color: rgb(102, 51, 0);
}

.btns {
  font-family: "Young Serif";
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  font-size: 1.3rem;
  color: rgb(118, 87, 25);
}

.three-by-four-container {
  display: grid;
  width: max-content;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 50px auto;
}

.five-by-four-container {
  display: grid;
  width: max-content;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 50px auto;
}

.seven-by-four-container {
  display: grid;
  width: max-content;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 50px auto;
}

img {
  border-radius: 5px;
}

.square {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-color: rgb(102, 102, 255);
  margin: 7px;
  display: flex;
}

.not-selected img {
  transition: 1s;
}

.starting-peek img {
  opacity: 0;
  transition: 1s;
}

.selected {
  opacity: 1;
}

.end-msg-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -110px;
  margin-bottom: -20px;
}

.end-msg-div .won {
  font-size: 4.3rem;
  border-radius: 5px;
  padding: 15px;
  color: rgb(102, 255, 51);
  font-weight: 100;
}

.end-msg-div .lost {
  font-size: 4.3rem;
  border-radius: 5px;
  padding: 15px;
  color: rgb(233, 78, 78);
  font-weight: 100;
}

.pics-div {
  display: flex;
  justify-content: center;
}

.pics-div img {
  width: 250px;
}

.btns-div {
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
}

button {
  cursor: pointer;
  background-color: rgb(179, 198, 255);
}
