.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(255, 255, 229);
  font-family: "Young Serif";
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 3rem;
  color: rgb(51, 102, 255);
}

.home-container {
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .home-container h1 {
  align-self: flex-start;
  text-align: center;
} */

.select-grid {
  border: none;
  border-radius: 5px;
  width: 140px;
  height: 80px;
  background-color: rgb(102, 102, 255);
  color: rgb(255, 255, 255);
  font-family: "Young Serif";
  font-size: 1.3rem;
  position: relative;
}

/* .select-grid::before {
  position: absolute;
  content: "s";
  left: 0;
  top: 0;
  width: 140px;
  height: 80px;
  z-index: 0;
  transition: 1s;
}

.select-grid:hover::before {
  background-color: red;
  width: 140px;
  height: 80px;
  z-index: 1;
  border-radius: 5px;
} */

.select-grid:hover {
  cursor: pointer;
  box-shadow: 5px 5px 20px rgb(55, 53, 65);
}

.three-by-four-container {
  display: grid;
  width: 500px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.five-by-four-container {
  display: grid;
  width: 500px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.seven-by-four-container {
  display: grid;
  width: 500px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.square {
  width: 150px;
  height: 150px;
  background-color: black;
  margin: 5px;
  display: flex;
}

.not-selected {
  opacity: 0.2;
  transition: 3s;
}

.selected {
  opacity: 1;
  transition: 1s;
}

/* for testing */
.colored {
  background-color: red;
  width: 100px;
  height: 100px;
}

.colored-green {
  background-color: rgb(4, 255, 0);
  width: 100px;
  height: 100px;
}
